#ls {
    background-color: #1c79bb92;
    /* filter: blur(5px); */
    

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.ls-container {

    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 800px;
    height: 500px;
    

    z-index: 999;
    background-color: white;
    border: 1px solid #000;

    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.ls-container-header {
    font-size: 50px;
    font-weight: bold;
    
    width: 100%;
    text-align: center;
    
    margin-bottom: 50px;

}

.ls-container-form {
    /* border: 1px solid #000; */
    width: 100%;
    height: 300px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
}

.ls-container-input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 300px;
    margin-bottom: 15px;

}

/* label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
} */

input {
    width: 300px;
    height: 30px;
    border: none;
    /* border-radius: 5px; */
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid #8d8d8d;
}

.ls-container-btn {
    width: 300px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #1cb3bb92;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
}

.errorLabel {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


.ls-container-pass {
    display: flex;
    margin-bottom: 4px;
}


.icon-eye {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #8d8d8d;
}

.eye {
    display: absolute;
    margin-right: 10px;
}

.login-signup { 
    width: 300px;
    margin-top: 20px;
}

.login-signup > a{
    color: #1cb3bb92;
}
